<footer>
    <div class="footer-content">
        <p>&copy; 2023 RAAHTECH. All rights reserved.</p>
        <ul class="social-links">
            <li><a href="https://facebook.com" target="_blank" rel="noopener noreferrer">Facebook</a></li>
            <li><a href="https://twitter.com" target="_blank" rel="noopener noreferrer">Twitter</a></li>
            <li><a href="https://linkedin.com" target="_blank" rel="noopener noreferrer">LinkedIn</a></li>
        </ul>
    </div>
</footer>
<script>
    fetch('/partials/footer.html')
        .then(res => {
            if (!res.ok) throw new Error('Failed to load footer');
            return res.text();
        })
        .then(data => {
            document.querySelector('footer').innerHTML = data;
        })
        .catch(err => {
            console.error(err);
            document.querySelector('footer').innerHTML = '<p>Footer could not be loaded.</p>';
        });
</script>
